:root {
  --background-color: black;
  --color: white;
  --default-font-family: "Roboto", sans-serif;
  --text-align: center;
}
body {
  background-color: var(--background-color);
}
p {
  font-family: var(--default-font-family);
  font-size: 24px;
  text-align: var(--text-align);
  color: white;
  background-color: var(--background-color);
}
h1 {
  font-family: var(--default-font-family);
  font-size: 72px;
  text-align: var(--text-align);
  color: white;
  background-color: var(--background-color);
}
h2 {
  font-family: var(--default-font-family);
  font-size: 30px;
  text-align: var(--text-align);
  color: white;
  background-color: var(--background-color);
}
.btn-branding {
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 18px 30px;
  background-color: yellow;
  text-align: center;
}
@media (max-width 960px);
 {
  .project description {
    padding: 0px;
  }
}
